:root{
    /* color */
    --font-color: #2B2E33;
    --font-secondary-color: #6C7380;
    --primary-color: #00A1E5;
    --primary-bg-color: rgba(0, 161, 229, 0.1);
    --secondary-color: #03d9f3;
    --secondary-bg-color:rgba(3, 217, 243, 0.07);
    --bg-color: rgb(247, 247, 249);
    --bg-secondary-color: #f7f8fa;
    --border-color: #BEC2CC;
    --border-secondary-color: #e0e0e0;
    --disabled-color: #F0F2F5;
    --success-color: #0ECB81;
    --success-bg-color: rgba(14, 203, 129, 0.1);
    --error-color: #E33B54;
    --error-bg-color:rgba(227, 59, 84, 0.1);

    /* size */
    --section-width: 1280px;
    --header-height: 128px;
    --nav-height: 137px;

    /* zindex */
    --header-zindex: 100;
    --show-content-zindex: 10;
    --popup-bg-zindex: 999;
    --popup-content-zindex: 1000;

    /* font */
    --strong-b-font:1.8rem;
    --strong-font: 1.5rem;
    --strong-m-font:1rem;
    --p-m-font:0.8rem;


    /* border-radius */
    --card-border-radius: 15px;
    --button-border-radius: 5px;
    --tag-border-radius: 0.9375rem;

    /* section layouts */
    --section-padding: 3rem;
    --section-s-padding: 1rem;
    --section-m-padding: 2rem;
}
